<%= form_with(model: @friend) do |form| %>
   <h1> <%= @friend.name %> <%= @friend.surname %></h1>

  <div>
    <%= form.label :email, style: "display: block", class: "form-label" %>
    <%= form.text_field :email, class: "form-control", readonly: true %>
  </div>

    <div>
    <%= form.label :phone_number, style: "display: block", class:"form-label" %>
    <%= form.text_field :phone_number, class: "form-control", readonly: true %>
  </div>

  <%= link_to "Edit", edit_friend_path(@friend), class: "btn btn-primary" %> |
  <%= link_to "Back", friends_path, class: "btn btn-light" %>

  <%= link_to "Delete", friend_path(@friend), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-danger" %>
<% end %>
